:root {
    --green: rgb(70, 141, 70);
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgba(0, 0, 0 / 0.5);
}

body {
    font-size: 1.2rem;
    font-family: "Work Sans", sans-serif;
    min-height: 7000px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/wedding.jpg);
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero {
    position: relative;
    min-height: 100vh;
}

.hero h1 {
    font-family: "Sacramento", serif;
    font-size: 6rem;
}

.hero h4 {
    font-size: 1.6rem;
}

.hero p {
    font-size: 1.4rem;
}

.hero a {
    color: var(--green);
    background-color: white;
    box-shadow: var(--shadow)
}

.hero a:hover {
    background-color: var(--green);
    color: white;
}

.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    list-style-type: none;
    display: flex;
    background-color: var(--green);
    height: 60px;
    z-index: 1;
}

.nav li {
    flex: 1;
}

.nav li a {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    z-index: 1;
    position: relative;
}

.nav li a:hover {
    color: lightgray;
}

.nav li a.audio-icon-wrapper {
    transform: translateY(-20%);
    font-size: 30px;
    top: -16px;
    color: white;
    animation: rotating 4s linear infinite;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}
@keyframes rotating {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.nav .nav-music {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--bg);
    position: absolute;
    top: -23px;
    left: 50%;
    transform: translateX(-50%);
}

.pembuka-section {
    background-image: url(img/Bg-2.jpg);
    background-color: rgb(173, 250, 173);
    background-size: cover;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.pembuka-section h2 {
    color: var(--green);
    font-family: 'Sacramento';
    font-size: 5rem;
    font-weight: bold;
}

.pembuka-section h3 {
    color:#444;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.pembuka-section p {
    font-size: 1,1rem;
    color:#666;
}
.pembuka-section .couple {
    margin-top: 50px;
}

.pembuka-section .couple .pengantin-pria h3 {
    font-family: 'Sacramento', sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
    color: var(--green);
}

.pembuka-section .couple .pengantin-wanita h3 {
    text-align: left;
    font-family: 'Sacramento', sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
    color: var(--green);
}

.pembuka-section .couple .pengantin-wanita p {
    text-align: left;
}

.pembuka-section .couple img {
    width: 100%;
    border-radius: 50%;
}

.pembuka-section .heart {
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(65px);
}

.pembuka-section .heart i {
    margin: auto;
    color:red;
}

.acara-section {
    background-color: white;
    background-size: cover;
    min-height: 100vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.acara-section .section-title {
    justify-content: center;
    text-align: center;
}

.acara-section .section-title h2 {
    color: var(--green);
    font-family: 'Sacramento';
    font-size: 5rem;
    font-weight: bold;
}

.acara-section .section-title p {
    font-size: 1,1rem;
    color:#666; 
}

.card-acara {
    width: calc(50% - 10px);
}

.btn-green {
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 4px;
    transition: 0.5s;
    color: white;
    background-color: var(--green);
}

.btn-green:hover {
    background-color: var(--green);
    color: white;
}

.acara-section .card-acara .btn {
    background-color: var(--green);
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 4px;
    transition: 0.5s;
}

.acara-section .card-acara .btn:hover {
    background-color: grey;
    color:white
}
.lokasi-section {
    background-image: url(img/Bg-2.jpg);
    background-color:  rgb(173, 250, 173);
    background-size: cover;
    min-height: 100vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.lokasi-section .section-title h2 {
    color: var(--green);
    font-family: 'Sacramento';
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}

.lokasi-section .maps .btn {
    background-color: var(--green);
    color: white;
}

.lokasi-section .maps .btn:hover {
    background-color: grey;
    color: white;
}

.border-green {
    border-radius: 15px;
    border: 2px solid var(--green);
}

.love-story-section {
    background-color: white;
    background-size: cover;
    min-height: 100vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.love-story-section .section-title h2 {
    color: var(--green);
    font-family: 'Sacramento';
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 3rem;
}

.timeline {
    list-style: none;
    padding: 20px 0px 20px;
    position: relative;
}

.timeline::before {
    content: " ";
    top: 0;
    bottom: 0;
    position: absolute;
    width: 1px;
    background-color: lightgrey;
    left: 50%;
    margin-left: 0;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 40%;
    float: left;
    border: 1px solid lightgrey;
    padding: 30px;
    position: relative;
    border-radius: 4px;
}

.timeline > li > .timeline-panel:before {
    content: " ";
    position: absolute;
    top: 80px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid grey;
    border-right: 0 solid grey;
    border-bottom: 15px solid transparent;
}

.timeline > li > .timeline-panel:after {
    content: " ";
    position: absolute;
    top: 81px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid white;
    border-right: 0 solid white;
    border-bottom: 14px solid transparent;
}

.timeline > li > .timeline-badge {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    width: 160px;
    height: 160px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -80px;
    background-color: darkgrey;
    z-index: 100;
    border-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-title {
    margin-top: 0;
}

.timeline-date {
    display: block;
    margin-bottom: 20px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.timeline-body > p, .timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

.gallery-section {
    background-image: url(img/Bg-2.jpg);
    background-size: cover;
    min-height: 100vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.gallery-section .section-title h2{
    color: var(--green);
    font-family: 'Sacramento';
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 3rem;
}
.carousel .carousel-inner .carousel-item img {
    width: 800px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-left: 280px;
}
.rsvp-section {
    background-size: cover;
    min-height: 100vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.rsvp-section .section-title h2 {
    color: var(--green);
    font-family: 'Sacramento';
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1rem;
}
.rsvp-section .section-title p {
    text-align: center;
    font-size: 1,1rem;
    font-weight: 300;
    color:#666;
}
.rsvp-section button {
    background-color: var(--green);
    color: white;
    border: 1px solid var(--green);
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin-top: 19px;
}
.rsvp-section button:hover {
    background-color: grey;
    color: white;
    border: 1px solid grey;
}
.gift-section {
    background-image: url(img/Bg-2.jpg);
    background-color:  rgb(173, 250, 173);
    background-size: cover;
    min-height: 100vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.gift-section .section-title h2 {
    color: var(--green);
    font-family: 'Sacramento';
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1rem;
}

.gift-section .section-title p {
    font-size: 1,1rem;
    font-weight: 300;
    color:#666;
    text-align:center;
}

.credit-card {
    background-color: black;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 300px;
    color: white;
    position: absolute;
    border: 300px;
}

.card-logo {
    width: 75px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.card-container {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.card-sim {
    width: 30px;
    margin-right: 10px;
}

.card-number {
    font-family: 'Courier New', monospace;
    font-size: 16px;
}

.card-name {
    font-family: 'Courier New', monospace;
    font-size: 16px;
    text-align: left;
    margin-top: 10px;
}

.copy-button {
    font-family: 'Courier New', monospace;
    position: absolute;
    top: 5px;
    left: 15px;
    background-color: white;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

footer {
    padding: 10rem;
    background-color: var(--green);
    color: white;
}

footer a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer li {
    list-style: none;
    display: inline;
}

/* Media Query */
/* Extra Large */
@media (max-width: 1200px) {
    .pembuka-section .heart {
        transform: translateX(-50%) translateY(45px);
    }
}
/* Laptop */
@media (max-width: 992px) {
    html {
        font-size: 75%;
    }
    .simply-countdown>.simply-section{
        Padding: 70px;
    }
    .pembuka-section .heart {
        display: none;
    }
    .card-acara {
        width: calc(100%);
    }
    ul.timeline:before {
        left: 90px;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 200px);
    }
    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}
/* Tablet */
@media (max-width: 768px){
    html {
        font-size: 65%;
    }
    .simply-countdown>.simply-section{
        padding: 60px;
        margin: 5px;
    }
    .pembuka-section .heart {
        display: none;
    }
    .timeline > li > .timeline-panel {
        width: 75% !important;
        float: right;
    }
    .timeline > li > .timeline-panel:before {
        top: 30px;
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    .timeline > li > .timeline-panel:after {
        top: 31px;
        border-left-width: 0;
        border-right-width: 14px;
        left: -13px;
        right: auto;
    }
    .timeline:before {
        left: 40px;
    }
    .timeline > li > .timeline-badge {
        width: 90px;
        height: 90px;
        left: 1px;
        margin-left: 1px;
    }
    .carousel .carousel-inner .carousel-item img {
        width: 400px;
        justify-items: center;
        justify-content: center;
        align-items: center;
        margin-left: 130px;
    }
}

/* mobile phone */
@media (max-width: 576px) {
    html {
        font-size: 60%;
    }
    .simply-countdown>.simply-section{
        padding: 45px;
        margin: 3px;
    }
    .pembuka-section .heart {
        display: none;
    }
    .timeline > li > .timeline-panel {
        width: 75% !important;
        float: right;
    }
    .timeline > li > .timeline-panel:before {
        top: 30px;
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    .timeline > li > .timeline-panel:after {
        top: 31px;
        border-left-width: 0;
        border-right-width: 14px;
        left: -13px;
        right: auto;
    }
    .timeline:before {
        left: 60px;
    }
    .timeline > li > .timeline-badge {
        width: 60px;
        height: 60px;
        left: 15px;
        margin-left: 15px;
    }
    .carousel .carousel-inner .carousel-item img {
        width: 300px;
        justify-items: center;
        justify-content: center;
        align-items: center;
        margin-left: 90px;
    }
}